[submodule "feed/dp1-feed"]
	path = feed/dp1-feed
	url = https://github.com/feral-file/dp1-feed.git
[submodule "reference/strudel"]
	path = reference/strudel
	url = https://codeberg.org/strudel/strudel.git
