:root {
  --backdrop: rgb(6, 6, 6);
  color-scheme: dark;
}

@font-face {
  font-family: 'Berkeley Mono';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/BerkeleyMono-Regular.woff2') format('woff2'),
  url('/assets/fonts/BerkeleyMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Berkeley Mono';
  font-weight: normal;
  font-style: italic;
  src: url('/assets/fonts/BerkeleyMono-Italic.woff2') format('woff2'),
  url('/assets/fonts/BerkeleyMono-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Berkeley Mono';
  font-weight: bold;
  font-style: normal;
  src: url('/assets/fonts/BerkeleyMono-Bold.woff2') format('woff2'),
  url('/assets/fonts/BerkeleyMono-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Berkeley Mono';
  font-weight: bold;
  font-style: italic;
  src: url('/assets/fonts/BerkeleyMono-BoldItalic.woff2') format('woff2'),
  url('/assets/fonts/BerkeleyMono-BoldItalic.woff') format('woff');
}

body {
  display: flex;
  flex-direction: column;
  background: var(--backdrop);
  color: rgb(240, 240, 240);
  font-family: 'Berkeley Mono', monospace;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  line-height: 135%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::selection {
  color: var(--backdrop);
  background: white;
}

a {
  color: rgb(220, 220, 220);
  white-space: nowrap;
}

#url a {
  white-space: normal;
  word-break: break-all;
}

a:hover {
  color: rgb(250, 250, 250);
}

em {
  color: rgb(96, 96, 96);
  font-style: normal;
}

footer {
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  padding: 2em 1em 1em 1em;
  background: linear-gradient(rgb(34, 34, 34), rgb(16, 16, 16));
}

footer::before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1em;
  background: blue;
  background: linear-gradient(var(--backdrop) 10%, rgb(28, 28, 28) 100%);
}

.hidden { display: none; }

#wrapper {
  position: relative;
  display: block;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

#footer-content {
  margin: auto;
}

#img {
  display: block;
  box-sizing: border-box;
  margin: auto;
  border: none;
  image-rendering: pixelated;
  background-color: transparent;
}

#digitpain {
  color: white;
}

#parable {
  font-style: normal;
  text-transform: uppercase;
}

.indent {
  text-indent: -4.8em;
  padding-left: 4.8em;
}

audio#background-music {
  display: none;
}