<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultProfile</key>
	<string>Grass</string>
	<key>Profiles</key>
	<dict>
		<key>Grass</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAgMC4wNzQ1MDk4MDcgMC40NjY2NjY3IDAu
			MjM5MjE1NwAQAoAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5T
			T2JqZWN0CBEaJCkyN0lMUVNXXWRqd36ho6Wqtb7GyQAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAADS
			</data>
			<key>Bell</key>
			<false/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAYMC41NTY4NjI3NyAwLjE1Njg2Mjc1IDAA
			EAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqIWGFhOU09iamVjdAgR
			GiQpMjdJTFFTV11kand+mZudoq22vsEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAA
			AAAAyg==
			</data>
			<key>CursorType</key>
			<integer>0</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAhMC43MTM3MjU1MSAwLjI4NjI3NDUyIDAu
			MTQ5MDE5NjEAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqIWGFhO
			U09iamVjdAgRGiQpMjdJTFFTV11kand+oqSmq7a/x8oAAAAAAAABAQAAAAAAAAAZAAAA
			AAAAAAAAAAAAAAAA0w==
			</data>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAXMSAwLjY5MDE5NjEgMC4yMzEzNzI1NwAQ
			AoAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEa
			JCkyN0lMUVNXXWRqd36YmpyhrLW9wAAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AADJ
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAYMSAwLjk0MTE3NjUzIDAuNjQ3MDU4ODQA
			EAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqIWGFhOU09iamVjdAgR
			GiQpMjdJTFFTV11kand+mZudoq22vsEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAA
			AAAAyg==
			</data>
			<key>name</key>
			<string>Grass</string>
			<key>type</key>
			<string>Window Settings</string>
			<key>useOptionAsMetaKey</key>
			<true/>
		</dict>
		<key>Slab-awaiting-dark</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC4yODk5MjE0MTYgMC4xNjAyMTk3Mjk5
			IDAuMDEzNzMzMTE5NzEAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAbMSAwLjcwMTkxNTAwNzIgMC4xNTI1OTAy
			MTkAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqIWGFhOU09iamVj
			dAgRGiQpMjdJTFFTV11kand+nJ6gpbC5wcQAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAA
			AAAAAAAAzQ==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxARMSAxIDAuNzYyOTUxMDk0OAAQAYAC0hQV
			FhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lM
			UVNXXWRqd36SlJabpq+3ugAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADD
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAaMSAwLjg4NTAyMzI3IDAuNTc5ODQyODMy
			MQAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0
			CBEaJCkyN0lMUVNXXWRqd36bnZ+kr7jAwwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAADM
			</data>
			<key>name</key>
			<string>Slab-awaiting-dark</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Slab-awaiting-dark-pulse</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAoMC4zNjYyMTY1MjU1IDAuMjA1OTk2Nzk1
			NiAwLjAxODMxMDgyNjI4ABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29s
			b3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3fqmrrbK9xs7RAAAAAAAAAQEAAAAA
			AAAAGQAAAAAAAAAAAAAAAAAAANo=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAbMSAwLjcwMTkxNTAwNzIgMC4xNTI1OTAy
			MTkAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqIWGFhOU09iamVj
			dAgRGiQpMjdJTFFTV11kand+nJ6gpbC5wcQAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAA
			AAAAAAAAzQ==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxARMSAxIDAuNzYyOTUxMDk0OAAQAYAC0hQV
			FhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lM
			UVNXXWRqd36SlJabpq+3ugAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADD
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAaMSAwLjg4NTAyMzI3IDAuNTc5ODQyODMy
			MQAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0
			CBEaJCkyN0lMUVNXXWRqd36bnZ+kr7jAwwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAADM
			</data>
			<key>name</key>
			<string>Slab-awaiting-dark-pulse</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Slab-awaiting-light</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAcMSAwLjkwMDI4MjI5MTkgMC42ODY2NTU5
			ODU0ABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmpl
			Y3QIERokKTI3SUxRU1ddZGp3fp2foaaxusLFAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAA
			AAAAAAAAAM4=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxARMSAwLjUzNDA2NTc2NjQgMAAQAYAC0hQV
			FhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lM
			UVNXXWRqd36SlJabpq+3ugAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADD
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAcMC4yNzQ2NjIzOTQxIDAuMTIyMDcyMTc1
			MiAwABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmpl
			Y3QIERokKTI3SUxRU1ddZGp3fp2foaaxusLFAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAA
			AAAAAAAAAM4=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAcMC4zOTY3MzQ1NjkzIDAuMTk4MzY3Mjg0
			NyAwABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmpl
			Y3QIERokKTI3SUxRU1ddZGp3fp2foaaxusLFAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAA
			AAAAAAAAAM4=
			</data>
			<key>name</key>
			<string>Slab-awaiting-light</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Slab-awaiting-light-pulse</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAcMSAwLjgyMzk4NzE4MjQgMC41NDkzMjQ3
			ODgzABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmpl
			Y3QIERokKTI3SUxRU1ddZGp3fp2foaaxusLFAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAA
			AAAAAAAAAM4=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxARMSAwLjUzNDA2NTc2NjQgMAAQAYAC0hQV
			FhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lM
			UVNXXWRqd36SlJabpq+3ugAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADD
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAcMC4yNzQ2NjIzOTQxIDAuMTIyMDcyMTc1
			MiAwABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmpl
			Y3QIERokKTI3SUxRU1ddZGp3fp2foaaxusLFAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAA
			AAAAAAAAAM4=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAcMC4zOTY3MzQ1NjkzIDAuMTk4MzY3Mjg0
			NyAwABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmpl
			Y3QIERokKTI3SUxRU1ddZGp3fp2foaaxusLFAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAA
			AAAAAAAAAM4=
			</data>
			<key>name</key>
			<string>Slab-awaiting-light-pulse</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Slab-blank-dark</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzRjAgMCAwABABgALSFBUWF1okY2xhc3NuYW1l
			WCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3foWHiY6Z
			oqqtAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAALY=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC43NjI5NTEwOTQ4IDAuNzYyOTUxMDk0
			OCAwLjc2Mjk1MTA5NDgAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzRjEgMSAxABABgALSFBUWF1okY2xhc3NuYW1l
			WCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3foWHiY6Z
			oqqtAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAALY=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC45MTU1NDEzMTM4IDAuOTE1NTQxMzEz
			OCAwLjkxNTU0MTMxMzgAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>name</key>
			<string>Slab-blank-dark</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Slab-blank-light</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzRjEgMSAxABABgALSFBUWF1okY2xhc3NuYW1l
			WCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3foWHiY6Z
			oqqtAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAALY=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC4zMDUxODA0Mzc5IDAuMzA1MTgwNDM3
			OSAwLjMwNTE4MDQzNzkAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzRjAgMCAwABABgALSFBUWF1okY2xhc3NuYW1l
			WCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3foWHiY6Z
			oqqtAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAALY=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC4xMjIwNzIxNzUyIDAuMTIyMDcyMTc1
			MiAwLjEyMjA3MjE3NTIAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>name</key>
			<string>Slab-blank-light</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Slab-complete-dark</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxApMC4wNDI3MjUyNjEzMSAwLjA2MTAzNjA4
			NzU5IDAuMTE0NDQyNjY0MgAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0Nv
			bG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36qrK6zvsfP0gAAAAAAAAEBAAAA
			AAAAABkAAAAAAAAAAAAAAAAAAADb
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC40ODgyODg3MDA3IDAuNjQwODc4OTE5
			NyAwLjg2OTc2NDI0ODEAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAcMC45MTU1NDEzMTM4IDAuOTQ2MDU5MzU3
			NiAxABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmpl
			Y3QIERokKTI3SUxRU1ddZGp3fp2foaaxusLFAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAA
			AAAAAAAAAM4=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAmMC43MzI0MzMwNTEgMC43OTM0NjkxMzg2
			IDAuOTQ2MDU5MzU3NgAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9y
			ohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36nqauwu8TMzwAAAAAAAAEBAAAAAAAA
			ABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>name</key>
			<string>Slab-complete-dark</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Slab-complete-dark-pulse</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxApMC4wNjg2NjU1OTg1NCAwLjA5OTE4MzY0
			MjMzIDAuMTc1NDc4NzUxOAAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0Nv
			bG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36qrK6zvsfP0gAAAAAAAAEBAAAA
			AAAAABkAAAAAAAAAAAAAAAAAAADb
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC40ODgyODg3MDA3IDAuNjQwODc4OTE5
			NyAwLjg2OTc2NDI0ODEAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAcMC45MTU1NDEzMTM4IDAuOTQ2MDU5MzU3
			NiAxABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmpl
			Y3QIERokKTI3SUxRU1ddZGp3fp2foaaxusLFAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAA
			AAAAAAAAAM4=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAmMC43MzI0MzMwNTEgMC43OTM0NjkxMzg2
			IDAuOTQ2MDU5MzU3NgAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9y
			ohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36nqauwu8TMzwAAAAAAAAEBAAAAAAAA
			ABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>name</key>
			<string>Slab-complete-dark-pulse</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Slab-complete-light</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAcMC44NTQ1MDUyMjYyIDAuOTAwMjgyMjkx
			OSAxABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmpl
			Y3QIERokKTI3SUxRU1ddZGp3fp2foaaxusLFAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAA
			AAAAAAAAAM4=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC4yMjg4ODUzMjg1IDAuMzgxNDc1NTQ3
			NCAwLjc5MzQ2OTEzODYAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAoMC4wNDU3NzcwNjU2OSAwLjEwNjgxMzE1
			MzMgMC4zMjA0Mzk0NTk4ABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29s
			b3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3fqmrrbK9xs7RAAAAAAAAAQEAAAAA
			AAAAGQAAAAAAAAAAAAAAAAAAANo=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC4xMjIwNzIxNzUyIDAuMjEzNjI2MzA2
			NiAwLjQ1Nzc3MDY1NjkAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>name</key>
			<string>Slab-complete-light</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Slab-complete-light-pulse</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC43NjI5NTEwOTQ4IDAuODIzOTg3MTgy
			NCAwLjk3NjU3NzQwMTQAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC4yMjg4ODUzMjg1IDAuMzgxNDc1NTQ3
			NCAwLjc5MzQ2OTEzODYAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAoMC4wNDU3NzcwNjU2OSAwLjEwNjgxMzE1
			MzMgMC4zMjA0Mzk0NTk4ABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29s
			b3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3fqmrrbK9xs7RAAAAAAAAAQEAAAAA
			AAAAGQAAAAAAAAAAAAAAAAAAANo=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC4xMjIwNzIxNzUyIDAuMjEzNjI2MzA2
			NiAwLjQ1Nzc3MDY1NjkAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>name</key>
			<string>Slab-complete-light-pulse</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Slab-working-dark</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxApMC4wMTM3MzMxMTk3MSAwLjEyMjA3MjE3
			NTIgMC4wMzY2MjE2NTI1NQAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0Nv
			bG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36qrK6zvsfP0gAAAAAAAAEBAAAA
			AAAAABkAAAAAAAAAAAAAAAAAAADb
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC4zNjYyMTY1MjU1IDAuODU0NTA1MjI2
			MiAwLjUxODgwNjc0NDUAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
			AAAZAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAcMC44NTQ1MDUyMjYyIDEgMC45MTU1NDEz
			MTM4ABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmpl
			Y3QIERokKTI3SUxRU1ddZGp3fp2foaaxusLFAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAA
			AAAAAAAAAM4=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAmMC42NDA4Nzg5MTk3IDAuOTQ2MDU5MzU3
			NiAwLjczMjQzMzA1MQAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9y
			ohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36nqauwu8TMzwAAAAAAAAEBAAAAAAAA
			ABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>name</key>
			<string>Slab-working-dark</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Slab-working-light</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAaMC44MzkyNDYyMDQzIDEgMC44ODUwMjMy
			NwAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0
			CBEaJCkyN0lMUVNXXWRqd36bnZ+kr7jAwwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAADM
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAoMC4wNjEwMzYwODc1OSAwLjY0MDg3ODkx
			OTcgMC4yMjg4ODUzMjg1ABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29s
			b3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3fqmrrbK9xs7RAAAAAAAAAQEAAAAA
			AAAAGQAAAAAAAAAAAAAAAAAAANo=
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
			FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QFk1v
			bmFzcGFjZUFyZ29uLVJlZ3VsYXLSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9u
			dKIZG1hOU09iamVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpStsr3GzdAAAAAAAAABAQAA
			AAAAAAAcAAAAAAAAAAAAAAAAAAAA2Q==
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0899999999999999</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAoMC4wMTUyNTkwMjE5IDAuMTk4MzY3Mjg0
			NyAwLjA2MTAzNjA4NzU5ABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29s
			b3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3fqmrrbK9xs7RAAAAAAAAAQEAAAAA
			AAAAGQAAAAAAAAAAAAAAAAAAANo=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
			AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
			U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAoMC4wMzgxNDc1NTQ3NCAwLjMwNTE4MDQz
			NzkgMC4xMjIwNzIxNzUyABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29s
			b3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3fqmrrbK9xs7RAAAAAAAAAQEAAAAA
			AAAAGQAAAAAAAAAAAAAAAAAAANo=
			</data>
			<key>name</key>
			<string>Slab-working-light</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
	</dict>
</dict>
</plist>
