{
    email me@jas.life
}

oven.aesthetic.computer, oven-origin.aesthetic.computer {
    reverse_proxy localhost:3002
    encode gzip
    
    log {
        output file /var/log/caddy/oven.log
    }
}
