# Compiled GameBoy ROMs
*.gb
*.gbc

# Build artifacts
*.o
*.lst
*.map
*.sym
*.noi
*.ihx
*.elf
*.adb
*.cdb
*.lk
*.rst
*.asm

# Timestamped builds
*-20[0-9][0-9][0-9][0-9][0-9][0-9]-*.gbc
*-20[0-9][0-9][0-9][0-9][0-9][0-9]-*.gb

# External dependencies and tools
gbdk/
gameboy-emulator/
compiler/

# Old documentation and build directories
archive/
builds/
templates/
