<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="AestheticComputer.DynamicShell" Publisher="CN=AestheticComputerDev" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="6bfa1377-5534-47ad-a91b-8b964925249a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties><DisplayName>Aesthetic Computer Fight</DisplayName><PublisherDisplayName>Aesthetic Computer</PublisherDisplayName><Logo>Assets\StoreLogo.png</Logo></Properties>
  <Dependencies><TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" /></Dependencies>
  <Resources><Resource Language="x-generate" /></Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Aesthetic.DynamicShell.App">
      <uap:VisualElements DisplayName="AC Fight" Description="Live Aesthetic Computer fight shell" BackgroundColor="#120F1A" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#120F1A" />
      </uap:VisualElements>
      <Extensions><uap:Extension Category="windows.protocol"><uap:Protocol Name="acfight" /></uap:Extension></Extensions>
    </Application>
  </Applications>
  <Capabilities><Capability Name="internetClient" /><Capability Name="privateNetworkClientServer" /></Capabilities>
</Package>
