html { height: 100vh; }
body {
    background: rgb(16, 16, 16);
    height: 100%;
    margin: 0;
    overflow: hidden;
    -webkit-app-region: drag;
    display: flex;
    cursor: none;
}
iframe {
    -webkit-app-region: no-drag;
    border: none;
    margin: auto;
    width: calc(100% - 3em);
    height: calc(100% - 3em);
}