[Desktop Entry]
Name=Aesthetic Computer
Exec=/opt/aesthetic-computer/aesthetic-computer %U
Terminal=false
Type=Application
Icon=aesthetic-computer
StartupWMClass=Aesthetic Computer
Comment=A runtime and social network for creative computing
Categories=Graphics;Development;Education;
Keywords=creative-coding;art;graphics;lisp;
