# Ignore node modules
node_modules/

# Ignore environment files (use vault)
.env

# Ignore logs
*.log
npm-debug.log*

# Ignore secrets / keys (use vault)
os-build-admin-key.txt
secrets/

# Ignore temp files
.DS_Store
*.tmp
