<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839964586768-nv2hpp6urm0l0anjg67ltp68ura0otda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839964586768-nv2hpp6urm0l0anjg67ltp68ura0otda</string>
	<key>API_KEY</key>
	<string>AIzaSyAZkbN9uHHrBvgwqb3n8sGCCeQmHbuaT9c</string>
	<key>GCM_SENDER_ID</key>
	<string>839964586768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aesthetic.computer</string>
	<key>PROJECT_ID</key>
	<string>aesthetic-computer</string>
	<key>STORAGE_BUCKET</key>
	<string>aesthetic-computer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:839964586768:ios:168e6cc6d22b12cd4ceb95</string>
</dict>
</plist>
