<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>3</integer>
	<key>CPU_label_position</key>
	<integer>1</integer>
	<key>CPU_lineChart_position</key>
	<integer>2</integer>
	<key>CPU_mini_position</key>
	<integer>0</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>Disk_barChart_position</key>
	<integer>3</integer>
	<key>Disk_label_position</key>
	<integer>2</integer>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>0</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>4</integer>
	<key>Disk_speed_position</key>
	<integer>1</integer>
	<key>Disk_state</key>
	<true/>
	<key>Disk_text_position</key>
	<integer>7</integer>
	<key>Disk_widget</key>
	<string>mini</string>
	<key>GPU_barChart_position</key>
	<integer>3</integer>
	<key>GPU_label_position</key>
	<integer>1</integer>
	<key>GPU_lineChart_position</key>
	<integer>2</integer>
	<key>GPU_mini_position</key>
	<integer>0</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_widget</key>
	<string>mini</string>
	<key>Network_base</key>
	<string>byte</string>
	<key>Network_downloadColor</key>
	<string>system</string>
	<key>Network_label_position</key>
	<integer>4</integer>
	<key>Network_networkChart_position</key>
	<integer>1</integer>
	<key>Network_processes</key>
	<integer>8</integer>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_state</key>
	<true/>
	<key>Network_state_position</key>
	<integer>2</integer>
	<key>Network_text_position</key>
	<integer>3</integer>
	<key>Network_uploadColor</key>
	<string>monochrome</string>
	<key>Network_widget</key>
	<string>speed</string>
	<key>RAM_barChart_position</key>
	<integer>4</integer>
	<key>RAM_label_position</key>
	<integer>2</integer>
	<key>RAM_lineChart_position</key>
	<integer>3</integer>
	<key>RAM_memory_position</key>
	<integer>1</integer>
	<key>RAM_mini_position</key>
	<integer>0</integer>
	<key>RAM_pieChart_position</key>
	<integer>5</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_state_position</key>
	<integer>8</integer>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>mini</string>
	<key>Sensors_barChart_position</key>
	<integer>2</integer>
	<key>Sensors_label_position</key>
	<integer>3</integer>
	<key>Sensors_mini_position</key>
	<integer>0</integer>
	<key>Sensors_stack_position</key>
	<integer>1</integer>
	<key>Sensors_state</key>
	<false/>
	<key>Sensors_widget</key>
	<string>mini</string>
</dict>
</plist>
