:8111 {
    root * public
    file_server browse

    encode zstd gzip

    #header * {
    #    Cache-Control "no-cache"
    #    ETag "{http.response.header.ETag}"
    #    Last-Modified "{http.response.header.Last-Modified}"
    #}
}