:8111 {
	root * public
	file_server # browse
	encode zstd gzip

	# can't get this to work :( 24.07.11.06.46
	# tls ../ssl-dev/localhost.pem ../ssl-dev/localhost-key.pem

	@changed {
		file {
			try_files {path}
		}
	}

	handle @changed {
		header Cache-Control no-store
	}

	handle {
		header Cache-Control "public, max-age=3600"
	}
}
