[Unit]
Description=Autostart Child

[Service]
ExecStart=/home/georgica/aesthetic.computer/video-sync/autostart-child.sh

[Install]
WantedBy=multi-user.target