<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>aesthetic.computer</title>
    <script src="/aesthetic.computer/boot.js" type="module" defer></script>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="/aesthetic.computer/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="og:title" content="aesthetic.computer" />
    <meta name="og:description" content="Run any piece by typing its name..." />
    <meta name="og:image" content="https://aesthetic.computer/preview/1200x630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="aesthetic.computer" />
    <meta name="twitter:site" content="aesthetic.computer" />
    <meta name="twitter:image" content="https://aesthetic.computer/preview/800x800"/>
  </head>
  <body class="native-cursor"> <!-- Hides the 2D UI on first boot. -->
  <script>
    if (window.self !== window.top) document.body.classList.add("embed");
  </script>
  </body>
</html>