<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>TrackDrum for Menu Band</string>
    <key>CFBundleExecutable</key>
    <string>MenuBandTrackpad</string>
    <key>CFBundleIconFile</key>
    <string>TrackDrumIcon</string>
    <key>CFBundleIdentifier</key>
    <string>computer.aestheticcomputer.menuband-trackpad</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>MenuBandTrackpad</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
	<string>1.1</string>
    <key>CFBundleVersion</key>
	<string>2</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.music</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>By aesthetic.computer</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
