services:
  aesthetic:
    image: aesthetic-micro
    ports:
      - "3000:4000"
    build: .
    platform: linux/amd64
    user: me
    env_file:
      - .env
      - github.env
      - netlify.env
      - vercel.env
    volumes:
      - ../..:/home/me/aesthetic-computer
