:root {
  --container-paddding: 0px;
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 4px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
}

body {
  padding: 0;
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
  background-color: var(--vscode-editor-background);
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

iframe {
  width: 100vw;
  height: 100vh;
  border: none;
  box-sizing: border-box;
  padding-bottom: 0px;
  background-color: rgb(32, 32, 32);
}